// API Version {{appVersion}}
// Generated: {{generatedDate}}

import Foundation
import CoreData
{{#models}}{{#model}}{{#isBuildCoreData}}

//
// -------------- {{classname}}CD --------------
//

@objc({{classname}}CD)
class {{classname}}CD: NSManagedObject {

        var isSynced: Bool? {
            get {
                willAccessValue(forKey: "isSynced")
                let value = primitiveValue(forKey: "isSynced") as? Bool
                didAccessValue(forKey: "isSynced")
                return value
            }
            set {
                willChangeValue(forKey: "isSynced")
                let value: Bool? = newValue ?? nil
                setPrimitiveValue(value, forKey: "isSynced")
                didChangeValue(forKey: "isSynced")
            }
        }

{{#vars}}{{^isForeignTableReferenceByUUID}}{{^isPrimitiveType}}        @NSManaged var {{name}}: {{datatype}}{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/isPrimitiveType}}{{#isPrimitiveType}}        var {{name}}: {{datatype}}{{^required}}?{{/required}}{{#required}}!{{/required}} {
            // Getters and setters required to make it possible to have optional primitive types.
            get {
                willAccessValue(forKey: "{{name}}")
                let value = primitiveValue(forKey: "{{name}}") as? {{datatype}}
                didAccessValue(forKey: "{{name}}")
                return value
            }
            set {
                willChangeValue(forKey: "{{name}}")
                let value: {{datatype}}? = newValue ?? nil
                setPrimitiveValue(value, forKey: "{{name}}")
                didChangeValue(forKey: "{{name}}")
            }
        }
{{/isPrimitiveType}}{{/isForeignTableReferenceByUUID}}{{#isForeignTableReferenceByUUID}}{{#isToManyReference}}        @NSManaged var {{referencesRelationName}}: Set<{{referencesPropertyName}}CD>{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/isToManyReference}}
{{^isToManyReference}}
        @NSManaged var {{referencesRelationName}}: {{referencesPropertyName}}CD{{^required}}?{{/required}}{{#required}}!{{/required}}
{{/isToManyReference}}{{/isForeignTableReferenceByUUID}}{{/vars}}
}{{/isBuildCoreData}}{{/model}}{{/models}}
