//
//  NetworkRequestor.swift
//

import Foundation

enum NetworkError: ErrorType {
    case InvalidCode(Int, AnyObject?)
    case MissingData
    case MissingJSON(String?)
    case NonHTTPResponse
}

enum NetworkResult<T> {
    case Success(T?)
    case Failure(ErrorType)
}

public class NetworkRequestorWithResultType<T>
{
    let headers: [String:String]
    let parameters: [String:AnyObject]?
    let method: String
    let url: NSURL
    
    required public init(method: String, URL: NSURL, headers: [String:String], parameters: [String:AnyObject]?) {
        self.method = method
        self.url = URL
        self.headers = headers
        self.parameters = parameters
    }
    
    /// All calls return on the the main queue
    func sendWithResult(completion: (result: NetworkResult<T>) -> Void) -> Bool
    {
        guard let request = generateRequest() else { return false }
        let configuration = NSURLSessionConfiguration.defaultSessionConfiguration()
        configuration.URLCache = nil
        let session = NSURLSession(configuration: configuration)
        
        session.dataTaskWithRequest(request) { (data: NSData?, response: NSURLResponse?, error: NSError?) -> Void in
            
            // Handle Apple Error Cases
            guard error == nil else {
                assertionFailure("We got an error \(error)")
                let result = NetworkResult<T>.Failure(error!)
                NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                return
            }
            
            // Make sure it's an http response (it should be if we got to this point, but we have to check)
            guard let httpResponse = response as? NSHTTPURLResponse else {
                assertionFailure("We were expecting an http response, but instead got: \(response)")
                let result = NetworkResult<T>.Failure(NetworkError.NonHTTPResponse)
                NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                return
            }
            
            // Handle Invalid Status Codes along with error response
            guard httpResponse.isValid else {
                assertionFailure("We got an invalid response code \(httpResponse.statusCode)")
                let errorInfo: AnyObject?
                if let data = data {
                    if let json = try? NSJSONSerialization.JSONObjectWithData(data, options: [NSJSONReadingOptions.AllowFragments]) {
                        errorInfo = json
                    } else {
                        errorInfo = NSString(data: data, encoding: NSUTF8StringEncoding)
                    }
                } else {
                    errorInfo = nil
                }
                let httpError = NetworkError.InvalidCode(httpResponse.statusCode, errorInfo)
                let result = NetworkResult<T>.Failure(httpError)
                NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                return
            }
            
            // Success when no response is expected -- type is <Void>
            if () is T {
                let result = NetworkResult<T>.Success(nil)
                NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                return   
            }
            
            // Handle any missing data - we should have data at this point
            guard let data = data else {
                let error = NetworkError.MissingData
                let result = NetworkResult<T>.Failure(error)
                NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                return
            }

            // Handle invalid JSON
            guard let json: AnyObject = try? NSJSONSerialization.JSONObjectWithData(data, options: [NSJSONReadingOptions.AllowFragments])
                else {
                    let string = NSString(data: data, encoding: NSUTF8StringEncoding)
                    let error = NetworkError.MissingJSON(string as String?)
                    let result = NetworkResult<T>.Failure(error)
                    NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
                    return
            }
            
            // Return the decoded object
            let decodedJSON = Decoders.decode(clazz: T.self, source: json)
            let result = NetworkResult<T>.Success(decodedJSON)
            NetworkRequestorWithResultType<T>.resultOnMainQueue(result, completion: completion)
            
        }.resume()
        
        return true
    }
    
    static func resultOnMainQueue(result: NetworkResult<T>, completion: (result: NetworkResult<T>) -> Void) {
        delay(0) { () -> Void in
            completion(result: result)
        }
    }
    
    private func generateRequest() -> NSURLRequest?
    {
        let request : NSMutableURLRequest = NSMutableURLRequest(URL: url, cachePolicy: NSURLRequestCachePolicy.ReloadIgnoringLocalAndRemoteCacheData, timeoutInterval: 120)
        request.HTTPMethod = method
        if self.headers.count > 0 { request.allHTTPHeaderFields = headers }
        if let parameters = self.parameters where parameters.count > 0 {
            let encoded = parameters.encodeToJSON()
            let bodyData: NSData
            do {
                bodyData = try NSJSONSerialization.dataWithJSONObject(encoded, options: [])
            } catch {
                assertionFailure("Could not create data out of parameters \(parameters)")
                return nil
            }
            request.HTTPBody = bodyData
        }
        return request
    }

}